<div #workflowContainer class="workflow-container"
    [ngStyle]="{ width: containerWidth + 'px', height: containerHeight + 'px' }">

    @for (node of nodes; track $index) {
    @if(node.isAnnotation) {
    <div class="d-inline-block position-absolute rounded element hoverable annotation" [id]="'node-block-' + node.uuid"
        [attr.data-uuid]="node.uuid" [attr.data-has-match]="node.hasMatch" [attr.data-highlight]="node.hasHighlight"
        [ngStyle]="{ width: node.width + 'px', height: node.height + 'px', left: node.x + 'px', top: node.y + 142 + 'px', background: node.annotationBgColor, color: node.annotationTextColor, 'z-index': node.z}">
        <div class="content">{{ node.annotationText }}</div>
    </div>
    }
    @else {
    <div class="d-inline-block position-absolute rounded element hoverable" [id]="'node-block-' + node.uuid"
        [attr.data-uuid]="node.uuid" [attr.data-has-match]="node.hasMatch" [attr.data-highlight]="node.hasHighlight"
        [attr.data-trace-self]="node.tracing.traceSelf" [attr.data-trace-successor]="node.tracing.traceSuccessor"
        [ngStyle]="{ width: node.width + 'px', 'min-height': node.height + 'px', left: node.x + 'px', top: node.y + 142 + 'px', 'z-index': node.z}"
        (click)="selectNode(node)" (mouseover)="hoverNode(node, node.x, node.y, node.width)"
        (mouseout)="leaveNode(node)">
        @if (node.image != '') {
        <div class="d-flex flex-column">
            <div class="node-image-container mx-auto position-relative mb-1"
                [ngStyle]="{ width: node.imagewidth + 'px', height: node.imageheight + 'px'}"
                [attr.data-is-deprecated]="node.isDeprecated">
                <img class="node-image" [src]="'assets/syshub/' + node.image + '.png'"
                    [ngStyle]="{ width: node.imagewidth + 'px', height: node.imageheight + 'px'}">
            </div>
            <p class="mx-auto fs-7 text-center mb-0 bg-opacity-75 bg-body px-1 rounded">{{ node.title }}</p>
            @if (!node.isAnnotation && node.description && node.description.indexOf('+') === 0) {
            <p class="mx-auto fs-7 text-center mb-0 fst-italic bg-opacity-75 bg-body px-1 rounded">{{
                node.description.substring(1).trim() }}
            </p>
            }
            @if(hasOwnProperty(node.modeldata, 'loopName')) {
            <p class="position-absolute top-0 start-0 bg-opacity-75 bg-body px-1 rounded">{{
                $any(node.modeldata).loopName.trim() }}
            </p>
            }
        </div>
        }
    </div>
    }
    }

    <svg version="1.1" class="nodes-container position-absolute"
        [ngStyle]="{ top: '0', left: '0', width: containerWidth + 'px', height: containerHeight + 'px' }"
        [attr.width]="containerWidth" [attr.height]="containerHeight"
        [attr.viewBox]="'0 0 ' + containerWidth + ' ' + containerHeight" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs">
        <defs>
            <marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="4" markerHeight="4"
                orient="auto-start-reverse" stroke="#444" fill="#444" stroke-width="1">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
            <marker id="arrowred" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="4" markerHeight="4"
                orient="auto-start-reverse" stroke="#E12327" fill="#E12327" stroke-width="1">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
            <marker id="arrowtrace" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="4" markerHeight="4"
                orient="auto-start-reverse" stroke="#f36518" fill="#f36518" stroke-width="1">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
        @for (connection of graphModel.linkDataArray; track connection; let i = $index) {
        <path [id]="'path-' + i" [attr.i]="i" [ngClass]="[connection.category ?? 'common', 'connector-path']"
            [attr.marker-end]="traceConnections.includes(i) ? 'url(#arrowtrace)' : hoverpath == i ? 'url(#arrowred)' : 'url(#arrow)'"
            [attr.data-trace-path]="traceConnections.includes(i)" (mousemove)="hoverpath = i"
            (mouseleave)="hoverpath = undefined"></path>
        }
        @for (item of breakpoints; track $index) {
        <image [attr.x]="item.x" [attr.y]="item.y" width="18" height="18" href="/findr/assets/syshub/breakpoint.svg">
        </image>
        }
        @for (item of connectorTitles; track $index) {
        <text [class]="['proc-description', 'connector-description', item.isErrorConnection ? 'error' : 'default']"
            [attr.x]="item.x" [attr.y]="item.y" dominant-baseline="bottom" text-anchor="middle">{{ item.text
            }}</text>
        }
    </svg>

</div>