$primary: #E12327;

.workflow-container {
    background-image: linear-gradient(#aaaaaa 1px, transparent 1px), linear-gradient(to right, #aaaaaa 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #efefef;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

    >.element {
        padding: 4px;
        border: 3px solid transparent;

        &[data-has-match="true"] {
            border-color: #16DB93;
            background: rgba($color: #16DB93, $alpha: .1);
        }

        &[data-highlight="true"] {
            border-color: #c1db16;
            background: rgba($color: #c1db16, $alpha: .1);
        }

        &.hoverable:hover {
            border: 3px solid red;
        }

        &.annotation {
            border: 1px solid #000;

            &.hoverable:hover {
                margin: -1.5px;
            }

            >.content {
                width: 100%;
                height: 100%;
                white-space: pre-wrap;
            }
        }

        div[data-is-deprecated="true"]::before {
            content: '\f334';
            font-family: bootstrap-icons;
            font-weight: 400;
            position: absolute;
            top: 0;
            right: 3px;
            color: rgba($color: $primary, $alpha: .8);
        }

    }

}

svg.nodes-container {
    path.connector-path {
        stroke: #444;
        stroke-width: 2;
        fill: none;

        &:hover {
            stroke: $primary;
        }
    }
}