<nav class="navbar navbar-expand-lg bg-primary py-5 vh-100">
    <div class="container-fluid flex-column">
        <h1 class="me-2 mb-4">{{ l10nphrase.home.disabledFindr.title }}</h1>
        <span class="text-center">
            {{ l10nphrase.home.disabledFindr.description }}
            <br />
            {{ l10nphrase.home.disabledFindr.missingConfigFile }}
            <br />
            <a class="text-reset" target="_blank"
                href="https://github.com/surcoufx83/sysHUB-Findr?tab=readme-ov-file#konfiguration">
                {{ l10nphrase.home.disabledFindr.documentationLink }}
            </a>
        </span>
    </div>
</nav>