<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
            <img src="/assets/android-icon-36x36.png" style="width: 36px; height: 36px;">
            <span class="ms-2 fs-3">
                {{ l10nphrase.app.title }}
            </span>
        </a>
        <div class="d-flex align-items-center">
            <form class="d-flex me-5" role="search">
                <div class="input-group me-2">
                    <input class="form-control" type="search" placeholder="🔍 Search" aria-label="Search"
                        style="min-width: 460px;">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Dropdown</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link fs-3 py-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-list"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item cursor-pointer" (click)="onClearCache()">Clear cache</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/logout']">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>