<div class="card-header d-flex align-items-center justify-content-between">
    <div>
        <div class="fs-8 mb-1">
            <i class="bi bi-people-fill me-1"></i>
            {{ l10nphrase.result.useraccount.nodeInspector.subject }}
        </div>
        <h5 class="mb-0" [innerHTML]="nodeItem.name | highlight: searchResult.search.phrase"></h5>
    </div>
    <div>
        <button type="button" [ngClass]="{'btn btn-sm px-2 me-2': true, 'btn-outline-danger': hideUnassignedRoles}"
            (click)="toggleRolesItems()"
            [title]="l10nphrase.result.useraccount.toggleHideUnassignedRoles[hideUnassignedRoles ? 0 : 1]">
            <i [ngClass]="['bi', !hideUnassignedRoles ? 'bi-arrows-expand' : 'bi-arrows-collapse']"></i>
        </button>
        <button type="button" class="btn btn-sm px-2" (click)="onChangeColor.emit()">
            <i class="bi bi-palette-fill"></i>
        </button>
        <ng-content></ng-content>
    </div>
</div>
<div class="card-body p-0">
    <table class="table table-sm table-hover m-0">
        <tbody>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.uuid"
                [valueToCopy]="nodeItem.uuid">
                @if (searchResult.search.filter.includeUuids) {
                <code [innerHTML]="nodeItem.uuid | highlight: searchResult.search.phrase"></code>
                }
                @else {
                <code>{{nodeItem.uuid}}</code>
                }
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.email"
                [valueToCopy]="nodeItem.email || undefined">
                <code [innerHTML]="nodeItem.email | highlight: searchResult.search.phrase"></code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.enabled"
                [valueToCopy]="undefined">
                <code>{{nodeItem.enabled ? l10nphrase.common.phrases.yes[1] : l10nphrase.common.phrases.no[1] }}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.forcechange"
                [valueToCopy]="undefined">
                <code>{{nodeItem.forcechange ? l10nphrase.common.phrases.yes[1] : l10nphrase.common.phrases.no[1] }}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.type"
                [valueToCopy]="nodeItem.type || undefined">
                <code>{{l10nphrase.result.useraccount.nodeInspector.types[nodeItem.type]}}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.useraccount.nodeInspector.modified"
                [valueToCopy]="nodeItem.modifiedtime">
                <code>{{nodeItem.modifiedtime}}</code>
            </tr>
            <tr>
                <th scope="row" colspan="3" class="cursor-pointer" (click)="showRolesGroup = !showRolesGroup"
                    [title]="l10n(l10nphrase.common.phrases.toggleSection[showRolesGroup ? 1 : 0], [l10nphrase.result.useraccount.nodeInspector.roles])">
                    <h5 class="my-1"><i
                            [class]="['bi', showRolesGroup ? 'bi-caret-down-fill' : 'bi-caret-right-fill']"></i>
                        {{ l10nphrase.result.useraccount.nodeInspector.roles }}</h5>
                </th>
            </tr>
            @for (roleitem of userroles; track $index) {
            @if (!hideUnassignedRoles || nodeItem.roles.includes(roleitem.uuid)) {
            <tr [ngClass]="[ showRolesGroup ? 'd-table-row' : 'd-none' ]">
                @if(nodeItem.roles.includes(roleitem.uuid)) {
                <th scope="row" colspan="2">
                    <i class="bi bi-check2-square me-2"></i>
                    {{roleitem.rolename}}
                </th>
                }
                @else {
                <td colspan="2">
                    <i class="bi bi-square me-2"></i>
                    {{roleitem.rolename}}
                </td>
                }
                <td style="width: 20px;" class="py-0">
                    @if(roleitem != undefined){
                    <app-copy-button [valueToCopy]="roleitem.rolename"></app-copy-button>
                    }
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>