@if (currentLocale === 'de') {
<section class="container">
    <h1>Über sysHUB Findr</h1>
    <p>
        sysHUBFindr ist ein Projekt das im Zuge der Arbeit mit der Software NT-ware uniFLOW sysHUB (nachfolgend kurz
        sysHUB, siehe auch <a href="https://www.syshub.global/" target="_blank">https://www.syshub.global/</a>)
        entstand.
        sysHUB ist eine Java-basierte flexible Workflow- und Output-Management-Anwendung die Prozesse automatisieren und
        überwachen kann. Durch die integrierten low-code Workflows werden Anforderungen schnell erreicht.
    </p>
    <p>
        Aber kein System macht alles richtig, so gibt es auch Tücken im sysHUB. Findr ist das Ziel, eine der Lücken zu
        schließen: die unzureichende Suche und Nachverfolgbarkeit innerhalb der Entwicklungsumgebung. Findr wird <a
            href="https://github.com/surcoufx83/sysHUB-Findr" target="_blank">open-source entwickelt</a>. Ideen und
        Fehler können als Issues eingebracht werden, ebenso eigene Code-Vorschläge.
    </p>
    <p>
        Aktuell bietet der sysHUB Findr folgende Features:
    </p>
    <ol>
        <li>Einfach zugängliche Suchfunktion für sämtliche Bereiche innerhalb eines sysHUB Systems</li>
        <li>Caching Mechanismus zur schnellen Anzeige der Ergebnisliste</li>
        <li>Grafisch dargestellte Workflows</li>
        <li>Verfolgbarkeit von Variablen</li>
    </ol>
</section>
}

@if (currentLocale !== 'de') {
<section class="container">
    <h1>About sysHUB Findr</h1>
    <p>
        sysHUB Findr is a project that emerged in the course of working with the software NT-ware uniFLOW sysHUB
        (hereinafter referred to briefly as sysHUB, see also <a href="https://www.syshub.global/"
            target="_blank">https://www.syshub.global/</a>).
        sysHUB is a Java-based flexible workflow and output management application that can automate and monitor
        processes. Its integrated low-code workflows quickly meet requirements.
    </p>
    <p>
        However, no system is perfect, and sysHUB has its challenges. Findr aims to bridge one of these gaps: the
        insufficient search and traceability within the development environment. Findr is being developed as <a
            href="https://github.com/surcoufx83/sysHUB-Findr" target="_blank">open-source</a>. Ideas and bugs can be
        submitted as issues, as well as one's own code suggestions.
    </p>
    <p>
        Currently, sysHUB Findr offers the following features:
    </p>
    <ol>
        <li>Easy-to-access search function for all areas within a sysHUB system</li>
        <li>Caching mechanism for quick display of search results</li>
        <li>Graphically represented workflows</li>
        <li>Traceability of variables</li>
    </ol>
</section>
}