<div class="card-header d-flex flex-column">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <div class="fs-8 mb-1">
                <i class="bi bi-gear me-1"></i>
                {{ l10nphrase.workflowUi.process.subject[$any(nodeItem.modeldata).isLoop === true ? 1 : 0] }}
            </div>
            <h5 class="mb-1" [innerHTML]="nodeItem.title | highlight: searchResult?.search?.phrase"></h5>
        </div>
        <div>
            <button type="button" [ngClass]="{ 'btn btn-sm ps-2': true, 'text-danger': isTracingMe }"
                (click)="traceMe()">
                <i class="bi bi-bezier"></i>
            </button>
            <button type="button" class="btn btn-sm px-2" (click)="onChangeColor.emit()">
                <i class="bi bi-palette-fill"></i>
            </button>
            <ng-content></ng-content>
        </div>
    </div>
    @if (nodeItem.isDeprecated) {
    <p class="mb-0 text-danger-emphasis">
        <i class="bi bi-exclamation-diamond-fill me-1"></i>
        {{ l10nphrase.workflowUi.process.deprecated }}
    </p>
    }
    <p class="mb-1 fst-italic" [innerHTML]="nodeItem.description | highlight: searchResult?.search?.phrase"></p>
    @if ($any(nodeItem.modeldata).isLoop === true) {
    <p class="mb-1">
        <strong>
            <i class="bi bi-arrow-repeat me-1"></i>
            {{ l10nphrase.workflowUi.shared.loop }}:
        </strong>
        <code [innerHTML]="$any(nodeItem.modeldata).loopName | highlight: searchResult?.search?.phrase"></code>
    </p>
    }
    @if (parameterset) {
    <p class="mb-1">
        <strong>
            <i class="bi bi-p-square-fill me-1"></i>
            {{ l10nphrase.workflowUi.shared.parametersetRef }}:
        </strong>
        <code [innerHTML]="$any(nodeItem.modeldata).parameterSetPath | highlight: searchResult?.search?.phrase"></code>
        <button type="button" class="btn btn-sm ms-1" (click)="selectNode(parameterset, $event)">
            <i class="bi bi-window-stack fs-7"></i>
        </button>
    </p>
    }
</div>
<div class="card-body p-0">
    <table class="table table-sm table-hover m-0">
        <tbody>
            @for (item of parameters; track $index) {
            <tr>
                <th scope="row"
                    [innerHTML]="(item[0] || '&lt;null&gt;' | highlight: searchResult?.search?.phrase) + ':'">
                </th>
                <td>
                    @if(item[0] === 'query' && $any(nodeItem.modeldata).command == 'com.oce.epos.procs.ExecuteQuery') {
                    <markdown ngPreserveWhitespaces>
                        ```sql
                        {{item[1]}}
                        ```
                    </markdown>
                    }
                    @else {
                    <code [innerHTML]="item[1] || '&lt;null&gt;' | highlight: searchResult?.search?.phrase"></code>
                    }
                </td>
                <td style="width: 20px;" class="py-0">
                    <app-copy-button [valueToCopy]="item[1]"></app-copy-button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>