<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid flex-column">
        <strong class="me-2">{{ l10nphrase.home.disabledFindr.title }}</strong>
        <span>
            {{ l10nphrase.home.disabledFindr.description }}
        </span>
        <a class="text-reset" target="_blank"
            href="https://github.com/surcoufx83/sysHUB-Findr?tab=readme-ov-file#konfigurationsparameter">
            {{ l10nphrase.home.disabledFindr.documentationLink }}
        </a>
    </div>
</nav>