<nav class="navbar navbar-expand-lg bg-primary py-5">
    <div class="container-fluid flex-column">
        <h1 class="me-2 mb-4">{{ l10nphrase.home.disabledFindr.title }}</h1>
        <span>
            {{ l10nphrase.home.disabledFindr.description }}
        </span>
        <a class="text-reset" target="_blank"
            href="https://github.com/surcoufx83/sysHUB-Findr?tab=readme-ov-file#konfigurationsparameter">
            {{ l10nphrase.home.disabledFindr.documentationLink }}
        </a>
    </div>
</nav>