<article class="container">
    <section>
        <h1>{{ l10nphrase.home.welcomeTitle }}</h1>
        <p>
            {{ l10n(username != '' ? l10nphrase.home.welcomeSubtitleUser : l10nphrase.home.welcomeSubtitleNoUser,
            [username]) }}
        </p>
    </section>
    <section>
        <form [formGroup]="searchForm" (submit)="onSubmitSearch()">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        <div class="input-group me-2">
                            <input class="form-control" type="search"
                                [placeholder]="l10nphrase.navbar.searchPlaceholder" formControlName="phrase"
                                name="home-search-phrase" id="home-search-phrase"
                                [attr.aria-label]="l10nphrase.navbar.searchBtn" autocomplete="off">
                            <button
                                [ngClass]="{ 'btn dropdown-toggle': true, 'btn-outline-secondary':isDefaultConfig, 'btn-secondary': !isDefaultConfig}"
                                type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                                <i
                                    [ngClass]="'me-2 ' + (!isDefaultConfig ? 'bi-toggle-on text-info' : 'bi-toggle-off')"></i>
                                {{ l10nphrase.navbar.searchOptions }}
                            </button>
                            <ul class="dropdown-menu">
                                @if (!disabledFunctions.includes('config')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="searchConfig"
                                            id="home-search-config" name="home-search-config">
                                        <label class="form-check-label" for="home-search-config">
                                            {{ l10nphrase.search.topics.config }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('jobtypes')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="searchJobtypes"
                                            id="home-search-jobtypes" name="home-search-jobtypes">
                                        <label class="form-check-label" for="home-search-jobtypes">
                                            {{ l10nphrase.search.topics.jobtypes }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('parameterset')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="searchPSet"
                                            id="home-search-parameterset" name="home-search-parameterset">
                                        <label class="form-check-label" for="home-search-parameterset">
                                            {{ l10nphrase.search.topics.parameterset }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('workflows')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="searchWorkflows" id="home-search-workflows"
                                            name="home-search-workflows">
                                        <label class="form-check-label" for="home-search-workflows">
                                            {{ l10nphrase.search.topics.workflows }}
                                        </label>
                                    </div>
                                </li>
                                }
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                @if (!disabledFunctions.includes('certstore')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="searchCertstore" id="home-search-certstore"
                                            name="home-search-certstore">
                                        <label class="form-check-label" for="home-search-certstore">
                                            {{ l10nphrase.search.topics.certstore }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('serverConfig')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="searchServerConfig" id="home-search-serverConfig"
                                            name="home-search-serverConfig">
                                        <label class="form-check-label" for="home-search-serverConfig">
                                            {{ l10nphrase.search.topics.serverConfig }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('serverInfo')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="searchServerInfo" id="home-search-serverInfo"
                                            name="home-search-serverInfo">
                                        <label class="form-check-label" for="home-search-serverInfo">
                                            {{ l10nphrase.search.topics.serverInfo }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('ippDevices')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="searchIppDevices" id="home-search-ippDevices"
                                            name="home-search-ippDevices">
                                        <label class="form-check-label" for="home-search-ippDevices">
                                            {{ l10nphrase.search.topics.ippDevices }}
                                        </label>
                                    </div>
                                </li>
                                }
                                @if (!disabledFunctions.includes('users')) {
                                <li class="dropdown-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="searchUsers"
                                            id="home-search-users" name="home-search-users">
                                        <label class="form-check-label" for="home-search-users">
                                            {{ l10nphrase.search.topics.users }}
                                        </label>
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                        <button class="btn btn-success text-nowrap" [disabled]="searchBusy" type="submit">{{ searchBusy
                            ?
                            l10nphrase.navbar.searchBtnBusy :
                            l10nphrase.home.runSearch }}</button>
                    </div>
                    <p class="text-primary cursor-pointer" style="font-size: 80%;" (click)="changeFilterView()">
                        {{ l10nphrase.home.moreFilterToggle }}
                        <i
                            [ngClass]="{ 'bi': true, 'bi-caret-down': !showMoreFilter, 'bi-caret-up': showMoreFilter }"></i>
                    </p>
                </div>
                @if (showMoreFilter) {
                <div class="card-body pt-0">
                    <h4 class="card-title">{{ l10nphrase.home.moreFilter }}</h4>
                    <ul class="list-group list-group-flush">
                        <!-- <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <span class="me-3">{{ l10nphrase.search.filter.categoryFilter }}:</span>
                                <select class="form-select" formControlName="categoryFilter"
                                    id="home-search-categoryFilter" name="home-search-categoryFilter"
                                    style="max-width: 320px;">
                                    <option [value]="null">{{ l10nphrase.search.filter.categoryFilterNone }}</option>
                                    @for (category of categories; track $index) {
                                    <option [value]="category.uuid">{{ category.name
                                        }}</option>
                                    }
                                </select>
                            </div>
                        </li> -->
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="excludeBComments"
                                    id="home-search-excludeBComments" name="home-search-excludeBComments">
                                <label class="form-check-label" for="home-search-excludeBComments">
                                    {{ l10nphrase.search.filter.excludeBComments }}
                                    <i class="fs-7">({{ l10nphrase.search.filter.excludeBCommentsWorkflowHint }})</i>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="includeUuids"
                                    id="home-search-includeUuids" name="home-search-includeUuids">
                                <label class="form-check-label" for="home-search-includeUuids">
                                    {{ l10nphrase.search.filter.includeUuids }}
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="searchWorkflowContent"
                                    id="home-search-searchWorkflowContent" name="home-search-searchWorkflowContent">
                                <label class="form-check-label" for="home-search-searchWorkflowContent">
                                    {{ l10nphrase.search.filter.searchWorkflowContent }}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                }
            </div>
        </form>
    </section>
</article>