<!-- <app-toolbar [title]="i10n('home.title')"></app-toolbar>

<div class="container mx-auto justify-center mt-4">
    <form #navbarSearch="ngForm" (submit)="search()">
        <mat-card appearance="outlined" class="w-full">
            <mat-card-header class="mb-3">
                <mat-card-title>{{ i10n('home.welcomeTitle') }}</mat-card-title>
                <mat-card-subtitle>
                    {{ i10n(username != '' ? 'home.welcomeSubtitleUser' : 'home.welcomeSubtitleNoUser', [username]) }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="flex flex-row items-center gap-4 mb-5">
                    <div class="w-full md:w-1/2">
                        <mat-form-field appearance="fill" style="width: 100%">
                            <mat-label>{{ i10n('home.enterPhrase') }}</mat-label>
                            <input matInput type="text" [(ngModel)]="phraseInput" name="home-phrase" id="home-phrase">
                            <button mat-icon-button matPrefix>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="mat-form-field-wrapper">
                        <button mat-raised-button type="submit" color="primary">{{
                            i10n('home.runSearch') }}</button>
                    </div>
                </div>
                <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-1 align-middle">backup_table</mat-icon>
                            {{ i10n('home.tabs.topics') }}
                        </ng-template>
                        <ng-container *ngTemplateOutlet="topicsTab"></ng-container>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-1 align-middle">tune</mat-icon>
                            {{ i10n('home.tabs.filter') }}
                        </ng-template>
                        <ng-container *ngTemplateOutlet="filterTab"></ng-container>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-1 align-middle">settings</mat-icon>
                            {{ i10n('home.tabs.options') }}
                        </ng-template>
                        <ng-container *ngTemplateOutlet="optionsTab"></ng-container>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </form>
</div>

<ng-template #topicsTab>
    <div class="m-3 w-full md:w-1/2">
        <mat-list role="list" *ngIf="searchConfig" class="mat-list-break-height">
            <mat-list-item role="listitem" class="py-0">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.topics.workflows">
                        <div>{{ i10n('search.topics.workflows') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
            <mat-divider *ngIf="searchConfig.topics.workflows"></mat-divider>
            <mat-list-item role="listitem" class="py-0" *ngIf="searchConfig.topics.workflows">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.filter.searchWorkflowContent">
                        <div>{{ i10n('search.filter.searchWorkflowContent') }}</div>
                    </mat-checkbox>
                </div>
                <div matLine class="checkbox-description mt-2">
                    <div class="flex items-center">
                        <div>
                            <mat-icon class="mr-2">info</mat-icon>
                        </div>
                        <div>{{ i10n('search.filter.searchWorkflowContentDescription') }}</div>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="py-0">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.topics.config">
                        <div>{{ i10n('search.topics.config') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="py-0">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.topics.parameterset">
                        <div>{{ i10n('search.topics.parameterset') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="py-0">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.topics.jobtypes">
                        <div>{{ i10n('search.topics.jobtypes') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</ng-template>

<ng-template #filterTab>
    <div class="m-3 w-full md:w-1/2">
        <mat-list role="list" *ngIf="searchConfig" class="mat-list-break-height">
            <mat-list-item role="listitem">
                <div matLine>
                    <mat-form-field class="w-full md:w-1/2">
                        <mat-label>{{ i10n('search.filter.categoryFilter') }}</mat-label>
                        <mat-select [(value)]="searchConfig.filter.categoryFilter">
                            <mat-option [value]="null">{{ i10n('search.filter.categoryFilterNone') }}</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category.uuid">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                        <button type="button" mat-icon-button matSuffix (click)="syncCategories()">
                            <mat-icon>sync</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div matLine class="checkbox-description">
                    <div class="flex items-center">
                        <div>
                            <mat-icon class="mr-2">filter_alt</mat-icon>
                        </div>
                        <div>{{ i10n('search.filter.categoryFilterDescription') }}</div>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.filter.includeUuids">
                        <div>{{ i10n('search.filter.includeUuids') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <div matLine>
                    <mat-checkbox [(ngModel)]="searchConfig.filter.excludeBComments">
                        <div>{{ i10n('search.filter.excludeBComments') }}</div>
                    </mat-checkbox>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</ng-template>

<ng-template #optionsTab>
    <div class="m-3 w-full md:w-1/2">
        <mat-list role="list" *ngIf="searchConfig" class="mat-list-break-height">
            <mat-list-item role="listitem">
                <div matLine>
                    <mat-checkbox [(ngModel)]="enableCache" (change)="changeCacheCheckbox()">
                        <div>{{ i10n('search.options.enableCache') }}</div>
                    </mat-checkbox>
                </div>
                <div matLine class="checkbox-description">
                    <div class="flex items-center">
                        <div>
                            <mat-icon class="mr-2">info</mat-icon>
                        </div>
                        <div>{{ i10n('search.options.enableCacheDescription') }}</div>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</ng-template> -->