<div class="card-header d-flex align-items-center justify-content-between">
    <div>
        <div class="fs-8 mb-1">
            <i class="bi bi-printer-fill me-1"></i>
            {{ l10nphrase.result.ippDevice.nodeInspector.subject }}
        </div>
        <h5 class="mb-0" [innerHTML]="nodeItem.name | highlight: searchResult?.search?.phrase"></h5>
    </div>
    <div>
        <button type="button" class="btn btn-sm px-2" (click)="onChangeColor.emit()">
            <i class="bi bi-palette-fill"></i>
        </button>
        <ng-content></ng-content>
    </div>
</div>
<div class="card-body p-0">
    <table class="table table-sm table-hover m-0">
        <tbody>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.desc"
                [valueToCopy]="nodeItem.desc || undefined">
                <code [innerHTML]="nodeItem.desc | highlight: searchResult?.search?.phrase"></code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.location"
                [valueToCopy]="nodeItem.location || undefined">
                <code [innerHTML]="nodeItem.location | highlight: searchResult?.search?.phrase"></code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.uri"
                [valueToCopy]="nodeItem.uri || undefined">
                <code [innerHTML]="nodeItem.uri | highlight: searchResult?.search?.phrase"></code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.state"
                [valueToCopy]="undefined">
                <code>{{nodeItem.state === 'ACTIVE' ? l10nphrase.common.phrases.yes[1] : l10nphrase.common.phrases.no[1] }}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.si"
                [valueToCopy]="undefined">
                <code>{{nodeItem.si === 'ON' ? l10nphrase.common.phrases.yes[1] : l10nphrase.common.phrases.no[1] }}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.so"
                [valueToCopy]="undefined">
                <code>{{nodeItem.so === 'ON' ? l10nphrase.common.phrases.yes[1] : l10nphrase.common.phrases.no[1] }}</code>
            </tr>
            <tr nodeinspector-common-table-node [title]="l10nphrase.result.ippDevice.nodeInspector.form"
                [valueToCopy]="nodeItem.form || undefined">
                <code [innerHTML]="nodeItem.form | highlight: searchResult?.search?.phrase"></code>
            </tr>
            <tr>
                <th scope="row" colspan="3" class="cursor-pointer"
                    (click)="showQueueSettingsGroup = !showQueueSettingsGroup"
                    [title]="l10n(l10nphrase.common.phrases.toggleSection[showQueueSettingsGroup ? 1 : 0], [l10nphrase.result.ippDevice.nodeInspector.queueSettingsGroup])">
                    <h5 class="my-1"><i
                            [class]="['bi', showQueueSettingsGroup ? 'bi-caret-down-fill' : 'bi-caret-right-fill']"></i>
                        {{ l10nphrase.result.ippDevice.nodeInspector.queueSettingsGroup }}</h5>
                </th>
            </tr>
            <tr [ngClass]="[ showQueueSettingsGroup ? 'd-table-row' : 'd-none' ]" nodeinspector-common-table-node
                [title]="l10nphrase.result.ippDevice.nodeInspector.maxInputQueueSize"
                [valueToCopy]="nodeItem.maxInputQueueSize || undefined">
                <code [innerHTML]="nodeItem.maxInputQueueSize | highlight: searchResult?.search?.phrase"></code>
            </tr>
            <tr [ngClass]="[ showQueueSettingsGroup ? 'd-table-row' : 'd-none' ]" nodeinspector-common-table-node
                [title]="l10nphrase.result.ippDevice.nodeInspector.outputThreshold"
                [valueToCopy]="nodeItem.outputThreshold || undefined">
                <code [innerHTML]="nodeItem.outputThreshold | highlight: searchResult?.search?.phrase"></code>
            </tr>
        </tbody>
    </table>
</div>