<div class="card-header d-flex align-items-center justify-content-between">
    <div>
        <div class="fs-8 mb-1">
            <i class="bi bi-c-square-fill me-1"></i>
            {{ l10nphrase.result.config.nodeInspector.subject }}
        </div>
        <h5 class="mb-0" [innerHTML]="nodeItem.name | highlight: searchResult.search.phrase"></h5>
    </div>
    <div>
        <button type="button" class="btn btn-sm px-2" (click)="onChangeColor.emit()">
            <i class="bi bi-palette-fill"></i>
        </button>
        <ng-content></ng-content>
    </div>
</div>
<div class="card-body p-0">
    <table class="table table-sm table-hover m-0">
        <tbody>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.path }}:</th>
                <td>
                    <code>{{configPath}}</code>
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2" (click)="copyPath(configPath)"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.uuid }}:</th>
                <td>
                    @if (searchResult.search.filter.includeUuids) {
                    <code [innerHTML]="nodeItem.uuid | highlight: searchResult.search.phrase"></code>
                    }
                    @else {
                    <code>{{nodeItem.uuid}}</code>
                    }
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2" (click)="copy(nodeItem.uuid)"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.type }}:</th>
                <td>
                    <code>{{nodeItem.type}}</code>
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2" (click)="copy(nodeItem.type)"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.value }}:</th>
                <td>
                    <code [innerHTML]="nodeItem.value || '&lt;null&gt;' | highlight: searchResult.search.phrase"></code>
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2" (click)="copy(nodeItem.value || '')"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.description }}:</th>
                <td>
                    @if (!searchResult.search.filter.excludeBComments || !nodeItem.description?.startsWith('[B]')) {
                    <code [innerHTML]="nodeItem.description | highlight: searchResult.search.phrase"></code>
                    }
                    @else {
                    <code>{{nodeItem.description}}</code>
                    }
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2" (click)="copy(nodeItem.description || '')"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ l10nphrase.result.config.nodeInspector.modified }}:</th>
                <td>
                    <code>{{nodeItem.modifiedtime}}</code>
                </td>
                <td style="width: 20px;" class="py-0">
                    <button type="button" class="btn btn-sm px-2"
                        [title]="l10nphrase.result.common.nodeInspector.copyTooltip">
                        <i class="bi bi-copy"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>